.recent-item-container {
  flex: 1 0 200px;
  max-width: calc(20% - 0.7rem);
}

.recent-item-container img {
  width: 100%;
  height: calc(100% - 1.5rem);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
  object-fit: cover;
  max-height: 15rem;
}

.recent-item-container img:hover {
  border: 0.3rem solid white;
}

.recent-item-container p {
  color: white;
  margin: 0;
  font-size: 1rem;
  height: auto;
}
