.settings-components-container {
  width: 100%;
  height: 9rem;
  display: flex;
  gap: 1rem;
}

.create-playlist-container {
  flex: 1;
  background-color: rgb(51, 50, 50);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.create-playlist-container h2 {
  color: #15df5b;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.create-playlist-container button {
  height: 2rem;
  background-color: #1DB954;;
  color: white;
  font-size: 1rem;
  align-items: flex-end;
  border-radius: 0.5rem;
  border: none;
  margin-top: auto;
}

.create-playlist-container button:hover {
  cursor: pointer;
  background-color: #15df5b;
  border: none;
}

.create-playlist-container input {
  background: transparent;
  border: none;
  border-bottom: 1px white solid;
  color: white;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.create-playlist-container input:focus {
  outline: none
}

.settings-options-container {
  flex: 2;
  background-color: rgb(51, 50, 50);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.5rem
}

.settings-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-creation-success-messages-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist-creation-success-messages-container h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.playlist-creation-success-messages-container a {
  color: #15df5b;
  font-size: 1.1rem;
}