.track-list-title-container {
  width: 100%;
}

.track-list-title-container h2 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

.track-list-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tracklist-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 3rem;
}