.app-page {
  width: 100vw;
  min-height: 100svh;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  overflow-y: auto;
}

.app-page-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.title-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}

.title-container h1 {
  margin: 0;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle-container {
  max-width: 630px;
  margin-bottom: 2rem;
}

.subtitle-container h2 {
  margin: 0;
  color: #1DB954;
  font-size: 2rem;
  font-weight: 400;
}

.divider {
  border-top: 1px solid white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.playlist-details-container {
  width: 100%;
}