.app-page {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  overflow-y: auto;
}

.app-page-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.title-and-logout-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}

.logout-button {
  padding: 0.5rem 1.5rem;
  background-color: #1DB954;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: none;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #15df5b;
}

.subtitle-container {
  max-width: 630px;
  margin-bottom: 2rem;
}

.subtitle-container h2 {
  margin: 0;
  color: #1DB954;
  font-size: 2rem;
  font-weight: 400;
}

.divider {
  border-top: 1px solid white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.settings-container {
  width: 100%;
}

.track-list-container {
  width: 100%;
}